@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* @import url('https://webfontworld.github.io/pretendard/Pretendard.css'); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body{
  color: #051619;
  font-family: "Pretendard Variable","Pretendard","Noto Sans KR","Apple SD Gothic Neo",sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: -.0125rem;
}

@layer base {
  #__next {
    display: contents;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  resize: none;
}

button{
  background: none;
  border: none;
}